<h1 class="page_heading"><%= @user.name %></h1>

<div class="event_feed">
  <div class="created_events_feed">
    <h4>Created Events</h4>
    <% @user.created_events.each do |event| %>
      <div class="event_container">
        <p><%= event.description %></p>
        <p><%= event.date %></p>
        <p><%= link_to "Go to event", event_path(event) %></p>
      </div>
    <% end %>
  </div>
  <div class="attended_events_feed">
    <% @user.attended_events.each do |event| %>
      <% if event.date < Date.today %>
        <div class="previously_attended_events_feed">
          <h4>Previously Attended Events</h4>
          <div class="event_container">
            <p><%= event.creator.name %>'s Event</p>
            <p><%= event.description %></p>
            <p><%= event.date %></p>
            <p><%= link_to "Go to event", event_path(event) %></p>
          </div>
        </div>
      <% else %>
        <div class="upcoming_events_feed">
          <h4>Upcoming Events</h4>
          <div class="event_container">
            <p><%= event.creator.name %>'s Event</p>
            <p><%= event.description %></p>
            <p><%= event.date %></p>
            <p><%= link_to "Go to event", event_path(event) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<nav class="bottom">
  <%= link_to "Home", root_path%>
  <%= link_to "Sign Out", logout_path, method: :delete %>
</nav>