<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    

    <nav class="top">
      <div class="top-bar-container">
        <div class="name-button">
          <% if logged_in? %>
            <p>Welcome, <%=link_to current_user.name, user_path(current_user) %></p>
          <% else %>
            <p>Nobody is logged in.</p>
          <% end %>
        </div>
        <div class="home_button">
          <h1><%= link_to "Private Events", root_path %></h1>
        </div>
        <% if logged_in? %>
          <div class="new_event_button">
            <%= link_to "Create Event", new_event_path %>
          </div>
          <div class="logout_button">
            <%= link_to "Log Out", logout_path, method: :delete %>
          </div>
        <% else %>
          <div class="login_button">
            <%= link_to "Log In", login_path %>
          </div>
          <div class="signin_button">
            <%= link_to "Sign Up", new_user_path %>
          </div>
        <% end %>
      </div>
    </nav>



    <%= yield %>
  </body>
</html>
